{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<h1> Buy stock </h1><br> 
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text"><br>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Amount of shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
